= f.input :email, label: t('devise.labels.email'), :input_html => {:autocomplete => :off}, required: true
= f.input :password, label: t('devise.labels.password'), :input_html => {:autocomplete => :off}, required: true
= f.input :password_confirmation, label: t('devise.labels.password_confirmation')